[user]
	name    = d4ryus
	email   = d4ryus@teknik.io
[core]
	editor  = vim
[alias]
	unstage = reset HEAD --
	df      = diff --cached
	l       = log --all --graph --decorate --oneline
[color]
	status  = auto
	branch  = auto
	diff    = auto
	branch  = auto
	status  = auto
[push]
	default = matching
