irssi/config
mutt/cache
mutt/my_mutt.gpg
mutt/aliases
vim/plugin
vim/bundle
vim/eclim
vim/plugin
vim/swap/*
vim/undo/*
vim/.netrwhist
irssi/
*.spl
fluxbox/apps
fluxbox/backgrounds
fluxbox/fbrun_history
fluxbox/icons
fluxbox/init
fluxbox/lastwallpaper
fluxbox/menu
fluxbox/menuconfig
fluxbox/overlay
fluxbox/pixmaps
fluxbox/slitlist
fluxbox/startup
fluxbox/styles
fluxbox/windowmenu
