*.desktop
.lsp-session-v1
.mc-lists.el
ac-comphist.dat
auto-save-list/
backup/
bookmarks
custom.el
elpa/
eshell/
fonts/
forge-database.sqlite
irony/
lisp/d4-local.el
network-security.data
tramp
transient/
url/
